#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-main {
  display: flex;
  flex-direction: column;
  width: 340px;
  border: 1px solid #DDD;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
}

.container-main form {
  display: flex;
  flex-direction: column; 
}

.container-main form label {
  font-size: 20px;
  text-align: center;
  color: #857f7f;
  font-weight: 500;
  margin-bottom: 10px;
}

.container-main form input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 24px;
  padding: 5px 8px;
  border: 1px solid #DDD;
}

.container-main form button {
  background-color: blue;
  color: aliceblue;
  margin-top: 5px;
}
